<h1>Vendor Profile:  </h1>

<div>Vendor Photo Albums: </div>
<% if (vendor_id) { %>

<form action="/file/upload" method="post" enctype="multipart/form-data">
  <label>Some other metadata</label>
  <input type="hidden" value="<%= vendor_id %>">
  <input type="text" name="title" placeholder="some other metadata"/>
  <br/>
  <label>Please upload your image:</label>
  <input type="file" name="image"/>
  <br/>
  <br/>
  <input type="submit"/>
</form>

<%} %>

<% if (photos) { %>
  <ul>
    <% photos.forEach(function(photo) { %>
      <li><img src="<%= photo %>"></li>
    <% }); %>
  </ul>
<%} %>
