<form action="/user" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <input type="hidden" name="userid" value="<%= user.id %>" placeholder="some other metadata"/>
  <label>Стать</label>
  <input type="text" name="sex" placeholder="sex" value="<%= user.sex ? user.sex : ''  %>"/>
  <br/>
  <label>День народження:</label>
  <input type="text" name="birthday" value="<%= user.birthday ? user.birthday : '' %>"/>
  <br/>
  <label>Skype:</label>
  <input type="text" name="skype" placeholder="skype" value="<%= user.skype ? user.skype : ''  %>"/>
  <br/>
  <label>vk:</label>
  <input type="text" name="vk" placeholder="vk" value="<%= user.vk ? user.vk : '' %>"/>
  <br/>
  <label>fb:</label>
  <input type="text" name="fb" placeholder="fb" value="<%= user.fb ? user.fb : ''%>"/>
  <br/>
  <label>site:</label>
  <input type="text" name="site" placeholder="site" value="<%= user.site ? user.site : ''%>"/>
  <br/>
  <label>about:</label>
  <textarea type="text" name="about"><%= user.about ? user.about : ''%></textarea>
  <br/>
  <input type="submit"/>
</form>
