<h1>User Profile:  </h1>

<div>
  Avatar
</div>
<div>
  <div> Дата народження <%= user.birthday ? user.birthday : '' %></div>
  <div> Skype <%= user.skype ? user.skype : ''  %></div>
  <div> Vkontakte <%= user.vk ? user.vk : '' %></div>
  <div> Facebook <%= user.fb ? user.fb : ''%></div>
  <div> Сайт <%= user.site ? user.site : ''%></div>
  <div> Про себе <%= user.about ? user.about : ''%></div>
</div>
<div>
  <img src="./storeFolder/cdd60dba-37c0-4214-b0ba-722d79d66501.png">

  <!--/home/oles/site/eventMaster/storeFolder/cdd60dba-37c0-4214-b0ba-722d79d66501.png-->

</div>


