<div class="banner">
      <header>
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand waves-effect waves-light" href="#">EVENTMASTER</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle waves-effect waves-light hvr-underline-reveal" data-toggle="dropdown" role="button" aria-expanded="false">ТОП<span class="caret"></span></a>
                  <ul class="dropdown-menu home-menu" role="menu">
                    <li><a href="#">Фотографи</a></li>
                    <li><a href="#">Відеооператори</a></li>
                    <li><a href="#">Музиканти</a></li>
                  </ul>
                </li>
                <li><a href="#" class="waves-effect waves-light hvr-underline-reveal">Послуги <span class="sr-only">(current)</span></a></li>
                <li><a href="#" class="waves-effect waves-light hvr-underline-reveal">Повідомлення</a></li>
                <li><a href="#" class="waves-effect waves-light hvr-underline-reveal">Додати повідомлення</a></li>
                <li class="divider"></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if (logedIn) { %>
                  <li class="hvr-underline-reveal">
                    <a href="/user"><%= user.username %></a>
                  </li>
                  <li class="hvr-underline-reveal">
                    <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Вийти</a>
                  </li>
                  <% } else { %>
                    <li class="hvr-underline-reveal">
                      <a href="#" data-toggle="modal" data-target=".modal-login">Увійти</a>
                    </li>
                    <div class="modal fade modal-login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close hvr-box-shadow-outset" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <a class="navbar-brand text-center" href="#"><span id="green">EVENT</span><span>MASTER</span></a>
                          </div>
                          <div class="modal-body">
                            <form role="form" class="form-horizontal" action="/auth/local" method="post" accept-charset="utf-8">
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" name="identifier" class="form-control def-input" id="inputEmail" placeholder="Email">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="password" name="password" class="form-control def-input" id="inputPassword" placeholder="Password">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <button type="submit" class="btn form-control btn-product2 hvr-box-shadow-outset">УВІЙТИ</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <div class="col-sm-6">
                              <a href="#">Забули пароль?</a>
                            </div>
                            <div class="col-sm-6">
                              <a href="#">Все ще не зареєстровані?</a>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <li class="hvr-underline-reveal">
                      <a href="#" data-toggle="modal" data-target=".modal-registr">Реєстрація</a>
                    </li>
                    <div class="modal fade modal-registr" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close hvr-box-shadow-outset" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <a class="navbar-brand text-center" href="#"><span id="green">EVENT</span><span>MASTER</span></a>
                          </div>
                          <div class="modal-body">
                            <form class="form-horizontal" action="/auth/local/register" method="post" accept-charset="utf-8">
                              <div class="form-group">
                                <div class="col-sm-6">
                                  <input type="text" class="form-control def-input" name="firstName" id="inputName" placeholder="Ім'я">
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control def-input" name="lastName" id="inputSirname" placeholder="Прізвище">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="password" class="form-control def-input" name="password" id="regpass" placeholder="Пароль"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="password" class="form-control def-input" id="confregpass" placeholder="Повторіть пароль"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="email" class="form-control def-input" name="email" id="regemail" placeholder="Email"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select name="role" id="role-select" >
                                    <option value="0" disabled>Оберіть спосіб реєстрації</option>
                                    <option value="0">Користувач</option>
                                    <option value="1">Продавець</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <button type="submit" class="btn form-control btn-product2 hvr-box-shadow-outset">ЗАРЕЄСТРУВАТИСЯ</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <div class="col-sm-12">
                              Вже зареєстровані? <a href="#">Увійти під своїм іменем</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="slogan">
        <h4 class="text-center">ПОШУК СПЕЦІАЛІСТІВ</h4>
        <h4 class="text-center">у сфері організації подій будь-якого масштабу</h4>
        <button class="btn btn-default waves-effect waves-light">Про нас</button>
      </div>
    </div><br>
    <!--Top users-->
    <div class="container">
      <div class="page-header">
        <a href=""><h4>Фотографи</h4></a>
      </div>
      <!-- Projects Row -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/jCTl6IknR6s.jpg" alt="">
          </a>
          <h5>
            <a href="#">Микола Щепний</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/54GICsS0aJw.jpg" alt="">
          </a>
          <h5>
            <a href="#">Володимир Кривецький</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/5483408.jpg" alt="">
          </a>
          <h5>
            <a href="#">Залупа Хуйбердиєв</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
      <!-- /.row -->
      <!-- Projects Row -->
      <div class="page-header">
        <a href=""><h4>Відеооператори</h4></a>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/jCTl6IknR6s.jpg" alt="">
          </a>
          <h5>
            <a href="#">Микола Щепний</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/54GICsS0aJw.jpg" alt="">
          </a>
          <h5>
            <a href="#">Володимир Кривецький</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/5483408.jpg" alt="">
          </a>
          <h5>
            <a href="#">Залупа Хуйбердиєв</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
      <div class="page-header">
        <a href=""><h4>Музиканти</h4></a>
      </div>
      <!-- Projects Row -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/jCTl6IknR6s.jpg" alt="">
          </a>
          <h5>
            <a href="#">Микола Щепний</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/54GICsS0aJw.jpg" alt="">
          </a>
          <h5>
            <a href="#">Володимир Кривецький</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
          <a href="#" class="hm-zoom">
            <img class="img-responsive" src="images/5483408.jpg" alt="">
          </a>
          <h5>
            <a href="#">Залупа Хуйбердиєв</a>
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <div class="container home-services">
      <div class="page-header">
        <h4>Всі послуги</h4>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-camera-retro fa-5x text-center"></i>
            <div class="caption">
              <h5>Фотографи</h5>
              <p>Весільні фотографи, фотосесії, розписки, хрестини</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-music fa-5x"></i>
            <div class="caption">
              <h5>Музиканти</h5>
              <p>Гурти, діджеї, вокалісти для весіль та корпоративів</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-video-camera fa-5x"></i>
            <div class="caption">
              <h5>Відеооператори</h5>
              <p>Весільна відеозйомка, Love story, відеозйомка корпоративів</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-puzzle-piece fa-5x"></i>
            <div class="caption">
              <h5>Організація заходів</h5>
              <p>Організація весіль, корпоративів, днів народжень під ключ</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-magic fa-5x"></i>
            <div class="caption">
              <h5>Шоу-програма</h5>
              <p>Фокусники, жонглери, музиканти-віртуози, танці та багато іншого</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-bullhorn fa-5x"></i>
            <div class="caption">
              <h5>Тамада</h5>
              <p>Ведучий, тамада для ведення корпоративів та весіль</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-cutlery fa-5x"></i>
            <div class="caption">
              <h5>Фуршетний стіл</h5>
              <p>Ведучий, тамада для ведення корпоративів та весіль</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-fort-awesome fa-5x"></i>
            <div class="caption">
              <h5>Банкетний зал</h5>
              <p>Ведучий, тамада для ведення корпоративів та весіль</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <i class="fa fa-thumbs-o-up fa-5x"></i>
            <div class="caption">
              <h5>Декорації</h5>
              <p>Ведучий, тамада для ведення корпоративів та весіль</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <h1>Повідомлення про події</h1>
      </div>

    </div>
    <footer>
      <span>All rights reserved &#169;2016 EventMaster</span>
    </footer>
