
<h1>Super Site index page:</h1>

<% if (logedIn) { %>
<div>
  <a href="/logout">Logout</a>
</div>
<% } else { %>
    <div>
      <a href="/login">Login</a>
      OR
      <a href="/register">Register</a>
    </div>
<% } %>
<div><%=wow %></div>


<form action="/file/upload" method="post" enctype="multipart/form-data">
  <label>Some other metadata</label>
  <input type="text" name="title" placeholder="some other metadata"/>
  <br/>
  <label>Please upload your image:</label>
  <input type="file" name="image"/>
  <br/>
  <br/>
  <input type="submit"/>
</form>



<h1>Our Super Site has users:</h1>

<ul id="list"/>

<script>
  var request = new XMLHttpRequest();
  request.open('GET', '/user', true);
  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      var data = JSON.parse(request.responseText);
      fillList(data);
    } else {
      console.log('There is no fucking data');
    }
  };

  request.onerror = function(err) {
    console.log('Ooops! ', err);
  };

  request.send();

  function fillList(data){
    var ul = document.getElementById("list");
    data.forEach(function(element){
      var li = document.createElement("li");
      li.appendChild(document.createTextNode(element.username));
      ul.appendChild(li);
    });
  }

</script>
