<h1>Vendor Profile:  </h1>

<div>Vendor Photo Albums: </div>

<% if (photo_albums) { %>
  <ul>
    <% photo_albums.forEach(function(album){ %>
    <li><a href="/album/<%= album.id %>" ><%= album.title %></a></li>
    <% }); %>
  </ul>
<% } %>

<form action="photoAlbum" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <input type="hidden" name="vendorId" value="<%= user.id %>" placeholder="some other metadata"/>
  <label>Some other metadata</label>
  <input type="text" name="name" placeholder="Vendor name"/>
  <input type="submit"/>
</form>

<!--<form action="photoAlbum" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <input type="hidden" name="userId" value="<%= user.id %>" placeholder="some other metadata"/>
  <label>Some other metadata</label>
  <input type="text" name="name" placeholder="Vendor name"/>
  <input type="submit"/>
</form>-->
