<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/customs.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/util.js"></script>
<!--SCRIPTS END-->
</body>
</html>
