<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>EventMaster</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Hover css!-->
  <!-- <link rel="stylesheet" href="../node_modules/hover.css/css/hover.css"> -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!--STYLES END-->
</head>

<body>

<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span id="green">EVENT</span><span id="black">MASTER</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="hvr-border-fade"><a href="/user">Моя сторінка</a></li>
          <li class="hvr-border-fade"><a href="user/content">Додати контент</a></li>
          <li class="hvr-border-fade"><a href="user/setting">Налаштування</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (logedIn) { %>
          <li class="hvr-underline-reveal">
            <a href="#"><%= user.username %></a>
          </li>
          <li class="hvr-underline-reveal">
            <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Вийти</a>
          </li>
          <% } else { %>
          <li class="hvr-underline-reveal">
            <a href="#" data-toggle="modal" data-target=".modal-login">Увійти</a>
          </li>
          <div class="modal fade modal-login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close hvr-box-shadow-outset" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <a class="navbar-brand text-center" href="#"><span id="green">EVENT</span><span>MASTER</span></a>
                </div>
                <div class="modal-body">
                  <form role="form" class="form-horizontal" action="/auth/local" method="post" accept-charset="utf-8">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" name="identifier" class="form-control def-input" id="inputEmail" placeholder="Login">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="password" name="password" class="form-control def-input" id="inputPassword" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <button type="submit" class="btn form-control btn-product2 hvr-box-shadow-outset">УВІЙТИ</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="col-sm-6">
                    <a href="#">Забули пароль?</a>
                  </div>
                  <div class="col-sm-6">
                    <a href="#">Все ще не зареєстровані?</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <li class="hvr-underline-reveal">
            <a href="#" data-toggle="modal" data-target=".modal-registr">Реєстрація</a>
          </li>
          <div class="modal fade modal-registr" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close hvr-box-shadow-outset" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <a class="navbar-brand text-center" href="#"><span id="green">EVENT</span><span>MASTER</span></a>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" action="/auth/local/register" method="post" accept-charset="utf-8">
                    <div class="form-group">
                      <div class="col-sm-6">
                        <input type="text" class="form-control def-input" name="firstName" id="inputName" placeholder="Ім'я">
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control def-input" name="lastName" id="inputSirname" placeholder="Прізвище">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="password" class="form-control def-input" name="password" id="regpass" placeholder="Пароль"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="password" class="form-control def-input" id="confregpass" placeholder="Повторіть пароль"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="email" class="form-control def-input" name="email" id="regemail" placeholder="Email"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <select name="role-select" id="role-select" >
                          <option value="0" disabled>Оберіть спосіб реєстрації</option>
                          <option value="user">Користувач</option>
                          <option value="artist">Продавець</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <button type="submit" class="btn form-control btn-product2 hvr-box-shadow-outset">ЗАРЕЄСТРУВАТИСЯ</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="col-sm-12">
                    Вже зареєстровані? <a href="/login">Увійти під своїм іменем</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>
