body, html {
  font-family: 'Times New Roman'; }
  body{
    /*background: #33E;*/
  }
  body a, html a {
    /*color: #fff;*/
  }

  .landing{
    text-align: center;
  }

button:hover{
  color: inherit !important;
}

header {
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px !important;
}

.home-menu{
  background-color: #E15252;
  opacity: 0.8;
}

.home-menu li:hover a{
  color: #333 !important;
}

  header .navbar-brand {
    height: 60px;
    font-size: 24px !important; }

/* Border Fade */
.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  /*box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);*/
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 2px #E15252, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E15252;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Box Shadow Outset */
.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.banner {
  height: 100vh;
  min-width: 100%;
  text-align: center;
}

/*Top users*/

.portfolio-item {
  margin-bottom: 25px;
}

.centred{
  text-align: center;
}

.parallax-mirror {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

.slogan {
  position: relative;
  text-align: center;
  margin-top: 10%;
  color: #fff;
  display: inline-block;
  background: #E15252;
  opacity: 0.8;
  padding: 20px; }
  .slogan .about-us {
    background-color: #E15252; }

.navbar {
  margin-bottom: 0;
  text-align: left;
}

.navbar-default {
  background-color: transparent;
  border: 0 none; }

.navbar-nav li a {
  color: #fff !important; }

.navbar-brand #green {
  color: #E15252; }

.navbar-brand #black {
  color: #fff; }

.colored {
  border: 2px solid #E15252; }

.navbar-right li:first-child {
  border-right: 2px solid #E15252; }

/*Modal for loginning*/
input.def-input, #role-select{
  background: #f8f8f8 none repeat scroll 0 0 !important;
  border: 1px solid #e5e5e5 !important;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 2, 0.03) inset !important;
  color: #333;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 0 20px !important;
  transition: border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  width: 100%;
}

.btn-product2 {
  background: #e15252 none repeat scroll 0 0;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 2, 0.16);
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 70px;
  color: #fff;
}

.modal-footer{
  text-align: center;
}

.modal-footer a{
  color: #e15252;
}

.thumbnail {
  text-align: center;
  color: #2EB657;
  padding: 10px;
  cursor: pointer;
  height: 220px; }

footer {
  height: 60px;
  background-color: #43419D;
  text-align: center; }
  footer span {
    line-height: 60px;
    color: #fff; }
