body, html {
  font-family: 'Times New Roman'; }
  body a, html a {
    color: #fff; }

header {
  padding-top: 20px;
  font-weight: bold; }
  header .navbar-brand {
    height: 60px;
    font-size: 24px !important; }

.banner {
  height: 100vh;
  min-width: 100%; }

.parallax-mirror {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

.slogan {
  position: relative;
  text-align: center;
  margin-top: 20%;
  color: #fff; }
  .slogan .about-us {
    background-color: #E15252; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: transparent;
  border: 0 none; }

.navbar-nav li a {
  color: #fff !important; }

.navbar-brand #green {
  color: #E15252; }

.navbar-brand #black {
  color: #fff; }

.colored {
  border: 2px solid #E15252; }

.navbar-right li:first-child {
  border-right: 2px solid #E15252; }

.thumbnail {
  text-align: center;
  color: #2EB657;
  padding: 10px;
  cursor: pointer;
  height: 220px; }

footer {
  height: 60px;
  background-color: #43419D;
  text-align: center; }
  footer span {
    line-height: 60px;
    color: #fff; }


